#auser_fields
  %p
    = f.label :first_name
    %br
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br
    = f.text_field :last_name
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :line_1
    %br
    = f.text_field :line_1
  %p
    = f.label :line_2
    %br
    = f.text_field :line_2
  %p
    = f.label :city
    %br
    = f.text_field :city
  %p
    = f.label :state
    %br
    = subregion_select(:user, :state, Carmen::Country.coded('US'))
  %p
    = f.label :zip_code
    %br
    = f.text_field :zip_code
  %p
    = f.label :phone_number
    %br
    = f.text_field :phone_number