#profile
  %h2 Your Profile
  #profile_container
    %span
      = link_to('Edit', edit_user_path)

      .detail
        %div
          %span
            Email:
          = @user.email

        %div
          %span.strong
            Name:
          = @user.full_name

        %div
          %span.address
            Address 1:
          = @user.line_1

        %div
          %span
            Address 2:
          = @user.line_2

        %div
          %span
            City:
          = @user.city

        %div
          %span
            State:
          = @user.state

        %div
          %span
            Zip Code
          = @user.zip_code

        %div
          %span
            Phone Number:
          = @user.phone_number






