#profile
  %h2 Your Profile
  #profile_container
    %span

      = @user.full_name
      %address
        = @user.line_1 if @user.line_1
        = @user.line_2 if @user_line_2
        %br/
        = @user.city_state_zip
        %br/
        = @user.phone_number

      / = image_tag @user.avatar.url
      / = image_tag @user.avatar.url(:medium)
      = image_tag(@user.avatar.url(:thumb), id:'user_avatar', class: 'user_pix')

      = link_to('Edit', edit_user_path)







