#address_fields
  %p
    = f.label :line_1
    %br
    = f.text_field :line_1
  %p
    = f.label :line_2
    %br
    = f.text_field :line_2
  %p
    = f.label :city
    %br
    = f.text_field :city
  %p
    = f.label :state
    %br
    = f.text_field :state
  %p
    = f.label :zip_code
    %br
    = f.text_field :zip_code

