%p
  #notice
    = notice

#address_fields
  = @address.line_1
  %br
  = @address.line_2
  %br
  = @address.city
  %br
  = @address.state
  %br
  = @address.zip_code
</div>

= link_to 'Edit', edit_address_path(@address) |
= link_to 'Back', addresses_path
