!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Stash 'n' Share

    %link{:href => "css/bootstrap.min.css", :media => "screen", :rel => "stylesheet"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true


    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"

    %link(href="/assets/favicon.ico" rel="shortcut icon")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")

  %body{class: controller_name, "data-spy" => "scroll", "data-target" => ".sidenav" }
    = render "masthead"
    / #user_nav
    /   - if user_signed_in?
    /     Signed in as #{current_user.email}. Not you?
    /     = link_to "Sign out", destroy_user_session_path, :method => :delete
    /   - else
    /     = link_to "Sign up", new_user_registration_path
    /     or
    /     = link_to "Sign in", new_user_session_path
    %p.notice= notice
    %p.alert= alert
    = yield

    = javascript_include_tag "application", "data-turbolinks-track" => true