!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Stash 'n' Share
    = stylesheet_link_tag "application", media:"all"
    = javascript_include_tag "application"

    %link{:href => "css/bootstrap.min.css", :media => "screen", :rel => "stylesheet"}/


    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"

    %link(href="/assets/favicon.ico" rel="shortcut icon")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")

  %body{class: controller_name, "data-spy" => "scroll", "data-target" => ".sidenav" }
    .container
      = render "masthead"
      .row
        %p.notice= notice
        %p.alert= alert
        .span9
          = yield
        .span3
          %h2 About Us
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor

